/* Comments */

/*----Color--Palette-------------------------------------------
	Light BG Blue			#C2D1FF
	White					#FFFFFF
	Visited Orange			#F03000
	Alert Red				#FF0000
	Dark Grey				#444444
	Listed Blue				#4D4DFF
	Black					#000000
-------------------------------------------------------------------*/
/*------------------------PAGE LINK APPEARANCE---------------------*/
a:link{
	color: #4D4DFF;
	text-decoration: none;
}
a:active{
	color: #FFFFFF;
}
a:hover{
	text-decoration: underline;
	font-size: 105%;
	text-shadow: 1px 1px 2px #000000;
	color: #FFFFFF;
}

/*-----------------------------------------------------------------*/
/*------------------------TOP BANNER NAV---------------------------*/
nav{
background-color: #4D4DFF;
}
nav ul{
	text-align: right;
	width: 720px;
	margin: 0 auto;
	padding: 0;
	background-color: #4D4DFF;
	list-style-type: none;
}

/*-----------------------------------------------------------------*/
/*------------------------NAV LINK APPEARANCE----------------------*/
#nav a:link{
	color:white;
}
#nav a:visited{
	color:#FFFFFF;
}
/*-----------------------------------------------------------------*/
/*------------------------INTRO PARAGRAPH--------------------------*/
#page_title{
	font-size: 225%;
	margin-top: 0px;
	line-height: 20px;
	clear: both;
	color: #444444;
	margin-bottom: 10px;
	text-shadow: 1px 1px 2px #FFFFFF; 
}
.intro_paragraph{
	border-radius: 8px;
	padding: 3px 5px 3px 5px;
	background-image: url(../images/paper-bg.jpg);
	text-align: justify;
	margin: 10px 0px 40px 0px;
	/*text-indent: 20px;*/
	line-height: 1.55; 
	color: #000000;
}




#external-links a:visited{
	color: #F03000;
}










.list-title{
	width:230px;
	color: #000000;
	background-color: #ffa900;
	padding: 5px 0px 0px 5px;
	margin-bottom: 0px;
	border-bottom: 1px solid #000000;
	-moz-box-shadow: 5px 5px 10px #444444;
	-op-box-shadow: 5px 5px 10px #444444;
	-webkit-box-shadow: 5px 5px 10px #444444;
	box-shadow:5px 5px 10px #444444;
	
}



#features{
	color: #000000;
	background-color: #ffa900;
	width: 210px;
	padding: 5px 0px 5px 25px;
	margin:0px 0px 10px 0px;
	-moz-box-shadow: 5px 5px 10px #444444;
	-op-box-shadow: 5px 5px 10px #444444;
	-webkit-box-shadow: 5px 5px 10px #444444;
	box-shadow:5px 5px 10px #444444;
}



#feature-table{
	float: right;
	margin: 0px 10px 0px 10px;
}


#gallery{
	border-radius: 8px;
	padding-left: 0px;
	overflow: hidden;
	border: 1px dashed #444444;
	background-image: url(../images/bg-gallery.jpg);
	list-style-type: none;
	width: 718px;
	height: 312px;
}

#gallery li{
	padding: 10px 25px 0px 20px;
	float: left;
}



#main-content {
	margin: 0 auto;
	border: 20px solid #C2D1FF;
	width: 720px;
	background-color: #C2D1FF;
}

body{
	
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	background-color: #FFFFFF;
}





footer p{
	padding-right: 30px;
	text-align: right;
	color: #000000;
}
	
	
	
.alert{
	text-align: right;
	width: 210px;
	font-size: 75%;
	margin: 10px 0px 5px 0px;
	text-shadow: 2px 2px 3px #FFFFFF;
	color: #000000;
}
h3{
	font-size: 225%;
	margin-top: 0px;
	background-color: #e3e3e3;
	border-bottom: 1px solid black;
	clear: both;
	color: #444444;
	margin-bottom: 10px;
	text-shadow: 1px 1px 2px #FFFFFF;
	}





