/* Comments */

/*----Color--Palette-------------------------------------------
	Light BG Blue			#C2D1FF
	White					#FFFFFF
	Visited Orange			#F03000
	Alert Red				#FF0000
	Dark Grey				#444444
	Listed Blue				#4D4DFF
	Black					#000000
-------------------------------------------------------------------*/

a:link{
	color: #4D4DFF;
	text-decoration: none;
}
a:active{
	color: #FFFFFF;
}
a:hover{
	text-decoration: underline;
	font-size: 1.05em;
	text-shadow: 1px 1px 2px #000000;
	color: #FFFFFF;
}


nav{
	background-image: url(../images/nav-bg.jpg);
	background-repeat: x;
	overflow: hidden;
	width: 100%;/*720px;*/
	margin: 0% auto;
	background-color: #4D4DFF;
}
nav ul{
	text-align: right;
	width: 94.736842%;/*720px;*/
	margin: 0% auto;
	padding: 0%;
	background-color: #4D4DFF;
	list-style-type: none;
}

nav ul li{
	padding: 0% 2.932551%;/*0px 20px;*/
	float: right;
}


#nav a:link{
	color:white;
}
#nav a:visited{
	color:#FFFFFF;
}

#page_title{
	font-size: 2.25em;
	margin-top: 0%;
	line-height: 20px;
	clear: both;
	color: #444444;
	margin-bottom: 1.466276%;/*10px;*/
	text-shadow: 1px 1px 2px #FFFFFF; 
}
.intro_paragraph{ /*672px wide*/
	border-radius: 8px;
	padding:  .446429% .744048% .446429% .744048%;/*3px 5px 3px 5px;*/
	background-image: url(../images/paper-bg.jpg);
	text-align: justify;
	margin: 1.466276% 0% 5.865103% 0%; /*10px 0px 40px 0px;*/
	/*text-indent: 20px;*/
	line-height: 1.55; 
	color: #000000;
}

.column{
	clear: both;
	-moz-column-count: 3;
}




#external-links a:visited{
	color: #F03000;
}










.list-title{
	width: 100%;/*230px;*/
	color: #000000;
	background-color: #ffa900;
	padding: 2.173913% 0% 0% 2.173913%;/*5px 0px 0px 5px;*/
	margin-bottom: 0%;
	border-bottom: 1px solid #000000;
	-moz-box-shadow: 5px 5px 10px #444444;
	-op-box-shadow: 5px 5px 10px #444444;
	-webkit-box-shadow: 5px 5px 10px #444444;
	box-shadow:5px 5px 10px #444444;
	
}



#features{
	color: #000000;
	background-color: #ffa900;
	width: 91.304348%;/*210px;*/
	padding: 2.380952% 0% 2.380952% 11.904762%; /*5px 0px 5px 25px;*/
	margin: 0% 0% 4.761905% 0%;/*0px 0px 10px 0px;*/
	-moz-box-shadow: 5px 5px 10px #444444;
	-op-box-shadow: 5px 5px 10px #444444;
	-webkit-box-shadow: 5px 5px 10px #444444;
	box-shadow:5px 5px 10px #444444;
}



#feature-table{
	float: right;
	margin: 0% 4.444444% 0% 4.444444%; /*10px=4.4444%*/
}


#gallery{
	border-radius: 8px;
	padding-left: 0%;
	overflow: hidden;
	border: 1px dashed #444444;
	background-image: url(../images/bg-gallery.jpg);
	list-style-type: none;
	width:  99.722222%;/*718px;*/
	height: 312px;
}

#gallery li{
	padding: 1.012048% 0% 0% 3.004096%;/*10px 0px 0px 20px;*/
	float: left;
}
#gallery li:hover{
	opacity: 0.5;
}



#main-content {
	margin: 0% auto;
	border: 19px solid #C2D1FF;
	width: 94.736842%;/*720px;*/
	background-color: #C2D1FF;
}

body{
	max-width:720px;
	font-size: 100%;
	width: 100%;/*720px;*/
	margin: 0% auto;
	font-family: 'Open Sans', sans-serif;
	padding: 0%;
	background-color: #FFFFFF;
}





footer p{
	padding-right: 4.166667%;/*30px;*/
	text-align: right;
	color: #000000;
}
	
	
	
.alert{
	text-align: right;
	width: 210px;
	font-size: 0.75em;
	margin: 4.761905% 0% 2.380952% 0%;/*10px 0px 5px 0px;*/
	text-shadow: 2px 2px 3px #FFFFFF;
	color: #000000;
}
h3{
	font-size: 2.25em;
	margin-top: 0%;
	background-color: #e3e3e3;
	border-bottom: 1px solid black;
	clear: both;
	color: #444444;
	margin-bottom:  1.388889%  /*10px;*/
	text-shadow: 1px 1px 2px #FFFFFF;
	}





